<html>
    <head>
        <title>BlueLevers</title>
    </head>
    <body>
        <div>
            <h1><a href="">BlueLevers</a></h1>
        </div>

        <div>
            <p>published: 28.02.2016, 00:04</p>
            <h2><a href="">My first post</a></h2>
            <p>Just another lover of linux throwing my thoughts about</p>
        </div>

        <div>
            <p>published: 28.02.2016, 00:04</p>
            <h2><a href="">My second post</a></h2>
            <p>One text editor to run them all</p>
        </div>
    </body>
</html>
